
/******************** Container Styles ********************/
.background-translucent-3 {
    -fx-background-color: rgba(255,255,255,0.3);
}
.background-translucent-5 {
    -fx-background-color: rgba(255,255,255,0.5);
}
.background-translucent-7 {
    -fx-background-color: rgba(255,255,255,0.7);
}
.background-translucent-9 {
    -fx-background-color: rgba(255,255,255,0.9);
}
.background-white {
    -fx-background-color: white;
}
.background-lightgray {
    -fx-background-color: #eee;
}
.background-cornflowerblue {
    -fx-background-color: cornflowerblue;
}
.pane-content-area {
    -fx-pref-width: 1000;
    -fx-pref-height: 1000;
    -fx-padding: 25;
}
.pane-bordered-area {
    -fx-border-style: solid;
    -fx-border-color: cornflowerblue;
}
.border-3 {
    -fx-border-width: 3;
}

/******************** Text Styles ********************/
.heading-1 {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}
.heading-2 {
    -fx-font-size: 24;
}
.lightgray {
    -fx-fill: #d3d3d3;
    -fx-text-fill: lightgray;
}
.cornflowerblue {
    -fx-fill: #6495ed;
    -fx-text-fill: cornflowerblue;
}
.underline {
    -fx-underline: true;
}

/******************** Button Styles ********************/
.button-primary {
    -fx-background-radius: 0;
    -fx-effect: null;
    -fx-background-color: cornflowerblue;
    -fx-border-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.button-danger {
    -fx-background-radius: 0;
    -fx-background-color: lightcoral;
    -fx-border-color: lightcoral;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.button-success {
    -fx-background-radius: 0;
    -fx-background-color: limegreen;
    -fx-border-color: limegreen;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.button-disabled {
    -fx-background-radius: 0;
    -fx-background-color: lightgray;
    -fx-border-color: lightgray;
    -fx-text-fill: #333;
    -fx-cursor: default;
}

.button-text {
    -fx-border-style: hidden;
    -fx-background-color: none;
    -fx-text-fill: cornflowerblue;
}
.button-box {
    -fx-pref-width: 1000;
}
.button-block {
    -fx-pref-width: 100;
}
.button-fill {
    -fx-pref-width: 1000;
}
.button-md {
    -fx-font-size: 16;
}
.button-lg {
    -fx-font-size: 24;
}

/******************** Form Styles ********************/
.label-form-lg {
    -fx-font-size: 16;
}
.bold {
    -fx-font-weight: bold;
}
.textfield-form-sm {
    -fx-font-size: 12;
    -fx-pref-width: 1000;
    -fx-background-color: none;
}
.textfield-form-sm:disabled, .textfield-form-sm:disabled > * {
    -fx-opacity: 1.0;
}
.textfield-form-sm:disabled > .arrow-button {
    -fx-opacity: 0.0;
}
.textfield-form-lg {
    -fx-font-size: 16;
    -fx-pref-width: 1000;
    -fx-background-color: none;
}
.textfield-form-lg:disabled {
    -fx-opacity: 1;
}
.textfield-boxed-sm {
    -fx-font-size: 12;
    -fx-background-color: none;
    -fx-border-style: solid;
    -fx-border-color: cornflowerblue;
    -fx-border-radius: 0;
}
.textfield-boxed-lg {
    -fx-font-size: 16;
    -fx-background-color: none;
    -fx-border-style: solid;
    -fx-border-color: cornflowerblue;
    -fx-border-radius: 0;
}
.textarea-boxed-sm {
    -fx-border-style: solid;
    -fx-border-color: cornflowerblue;
}
.textarea-boxed-sm, .textarea-boxed-sm .scroll-pane,
.textarea-boxed-sm .scroll-pane .viewport,
.textarea-boxed-sm .scroll-pane .content {
    -fx-background-color: none;
}
.datepicker-form-sm {
    -fx-background-color: none;
}
.datepicker-form-sm .text-field {
    -fx-background-color: none;
    -fx-control-inner-background: transparent;
    -fx-text-fill: #333;
    -fx-pref-width: 1000;
}
.datepicker-form-sm > .arrow-button {
    -fx-background-color: transparent;
    -fx-font-size: 16;
}
.hbox-form-lg {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
}
.check-box-sm {
    -fx-font-size: 12;
}
.check-box-sm:disabled {
    -fx-opacity: 1;
}
.check-box-lg {
    -fx-font-size: 16;
}
.check-box-nolabel {
    -fx-label-padding: 0;
}
.check-box-sm .box, .check-box-lg .box {
    -fx-border-color: cornflowerblue;
    -fx-background-color: none;
}
.check-box-sm:selected .box, .check-box-lg:selected .box {
    -fx-background-color: cornflowerblue;
}
.check-box-sm:selected .mark, .check-box-lg:selected .mark {
    -fx-background-color: white;
}